@import url(/assets/css/nav.css);

header {
  color: white;
  padding: 0 2rem 9rem;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

header img {
  width: 500px;
  height: 500px;
  margin-left: 40px;
}

.yellow-p {
  color: #e6ff84;
  font-weight: 600;
  font-size: 3.6rem;
}

header h1 {
  font-size: 8rem;
  font-weight: 700;
}

header p {
  font-size: 1.8rem;
  font-weight: 400;
}

.download {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0 2rem 11rem;
  gap: 2.2rem;
  align-items: center;
  color: white;
}

.download h2:first-child {
  margin-right: auto;
  font-size: 3.8rem;
  font-weight: 700;
  max-width: 400px;
  color: #e6ff84;
}

.question {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.question .quiz-text {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 600px;
  color: white;
  padding-left: 2rem;
}

.question h2 {
  font-size: 8.4rem;
  font-weight: 700;
  color: #e6ff84;
}

.question h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.question p {
  font-size: 1.8rem;
  font-weight: 500;
}

.needs {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 15rem;
  color: white;
}

.needs-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.needs-text h2 {
  font-size: 4.8rem;
  font-weight: 700;
}

.needs-text p {
  font-size: 1.8rem;
  font-weight: 500;
}

.needs .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    background: #5271FF;
    border-radius: 1rem;
    padding: 4rem;
    max-width: 420px;
}

.card img {
    padding-bottom: 3.6rem;
}

.card h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.card p {
    font-size: 1.1rem;
    font-weight: 400;
}