@import url(/assets/css/nav.css);
@import url(/assets/css/print.css);

header {
  color: white;
  padding: 0 2rem 9rem;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  gap: 2rem;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

header .circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #e6ff84;
  animation: cirlce-anim 4s infinite;
  margin-left: 50px;
}

@keyframes cirlce-anim {
  0% {
    box-sizing: 0px 0px 0px 0px #312272, 0px 0px 0px 0px #241660;
  }
  50% {
    box-shadow: 0px 0px 0px 20px #312272, 0px 0px 0px 40px #241660;
    scale: 1.1;
  }
}

.yellow-p {
  color: #e6ff84;
  font-weight: 600;
  font-size: 3.6rem;
}

header h1 {
  font-size: 8rem;
  font-weight: 700;
}

header p {
  font-size: 1.8rem;
  font-weight: 400;
}

.download {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0 2rem 11rem;
  gap: 2.2rem;
  align-items: center;
  color: white;
}

.download h2:first-child {
  margin-right: auto;
  font-size: 3.8rem;
  font-weight: 700;
  max-width: 400px;
  color: #e6ff84;
}

.question {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 5rem;
  display: flex;
  justify-content: space-between;
}

.quiz-img img:nth-child(1) {
  margin-bottom: 1rem;
  animation: text-box 3s infinite;
}

.quiz-img img:nth-child(2) {
  margin-left: 5rem;
  animation: text-box 3s infinite;
}

@keyframes text-box {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.question .quiz-text {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 600px;
  color: white;
  padding-left: 2rem;
}

.question h2 {
  font-size: 8.4rem;
  font-weight: 700;
  color: #e6ff84;
}

.question h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.question p {
  font-size: 1.8rem;
  font-weight: 500;
}

.needs {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 15rem;
  color: white;
}

.needs-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.needs-text h2 {
  font-size: 4.8rem;
  font-weight: 700;
}

.needs-text p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.needs .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background: #5271ff;
  border-radius: 1rem;
  padding: 4rem;
  max-width: 420px;
}

.card img {
  padding-bottom: 3.6rem;
}

.card h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.card p {
  font-size: 1.1rem;
  font-weight: 400;
}

.try {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 15rem;
  color: white;
  display: flex;
}

.try .figure {
  background-color: #e6ff84;
  height: 450px;
  width: 100%;
}

.upgrade {
  max-width: 1440px;
  margin: 0 auto;
  padding: 9.5rem 9rem;
  margin-bottom: 5rem;
  color: white;
  background-color: #5271ff;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.upgrade article {
  max-width: 520px;
}

.figure2 {
  background-color: #e6ff84;
  height: 450px;
  width: 450px;
  border-radius: 50%;
}
